body {
  line-height: 200%;
  letter-spacing: 1px;
  font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

.date {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.mugshot {
  width: 50px;
  height: 50px;
}

.img-gallery {
  padding-top: 30px;
}

.gallery {
  align-content: center;
}

.gallery:before {
  margin-top: -30px;
}

.gallery:after {
  margin-bottom: 30px;
}

.name {
  padding-top: 10px;
}

.dash {
  display: inline-block;
  width: 50px;
  border-top: 2px solid #bb0a1a;
}

.likes {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.fa-heart {
  color: #bb0a1a;
}

.img-hero {
  max-width: 100%;
}

.quote {
  font-family: 'Tangerine', "Brush Script MT", cursive;
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
  border: none;
  padding: 5% 10%;
  text-align: center;
}

.content {
  margin-bottom: 30px;
}

textarea {
  min-width: 100%;
  resize: none;
}

#submit {
  padding: none;
  margin: none;
  border: none;
  background-color: #fff;
  color: #337ab7;
}

.footer {
  margin-top: 20px;
}

.footer p {
  margin-top: 10px;
  margin-bottom: 0;
}